
# ========== Unity ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta

# ========== OS ==========
.DS_Store
Thumbs.db

# ========== Rider/VSCode ==========
.idea/
.vscode/
*.ipr
*.iws
*.unitypackage

# ========== Addressables/Cache ==========
[Aa]sset[Ss]tore/
